/*******************题库首页*/
.product .f-l span,.tongji-out,.tongji-over,.tongji-content .tj-top em,.examw span,.examw .examwbox em,.kemu-box .kemu li span{ background:url(image/main.png) no-repeat}
/*考试大类选择ICO*/
.banner{ width:100%; height:260px; background:#6d0005 url(image/banner.jpg) no-repeat center}
.examw{float:left; width:998px; padding:20px 0px 13px 2px}
.examw span{position:relative; bottom:0px; _bottom:-16px; left:22px; width:27px; height:14px; float:left; background-position:-260px 0px}
.examw .examwbox{width:67px; height:100px; float:left;line-height:33px; margin-right:36px; _margin-right:17px; font-size:14px}
.examw .examwbox em{ float:left;display:inline;width:67px; height:67px}
.examw .examwbox .zige{ background-position:-3px -74px}
.examw .examwbox .waiyu{ background-position:-83px -74px}
.examw .examwbox .kuaiji{ background-position:-164px -74px}
.examw .examwbox .jianzhu{ background-position:-241px -74px}
.examw .examwbox .waimao{ background-position:-323px -74px}
.examw .examwbox .yiyao{ background-position:-3px -161px}
.examw .examwbox .xueli{ background-position:-83px -161px}
.examw .examwbox .it{ background-position:-164px -161px}
.examw .examwbox .gwy{ background-position:-241px -161px}
.examw .examwbox .yixuan{ background-position:-323px -161px}

.examw .examwbox:hover{text-decoration:none;cursor: pointer; }
.choose .examwbox .zige,.examw .examwbox:hover .zige{background-position:-3px -257px}
.choose .examwbox .waiyu,.examw .examwbox:hover .waiyu{background-position:-83px -257px}
.choose .examwbox .kuaiji,.examw .examwbox:hover .kuaiji{background-position:-164px -257px}
.choose .examwbox .jianzhu,.examw .examwbox:hover .jianzhu{background-position:-241px -257px}
.choose .examwbox .waimao,.examw .examwbox:hover .waimao{background-position:-323px -257px}
.choose .examwbox .yiyao,.examw .examwbox:hover .yiyao{background-position:-3px -344px}
.choose .examwbox .xueli,.examw .examwbox:hover .xueli{background-position:-83px -344px}
.choose .examwbox .it,.examw .examwbox:hover .it{background-position:-164px -344px}
.choose .examwbox .gwy,.examw .examwbox:hover .gwy{background-position:-241px -344px}
.choose .examwbox .yixuan,.examw .examwbox:hover .yixuan{background-position:-323px -344px}
.choose .choose-color,.examw:hover .choose-color{ height:100px; color:#f30f4a}
/*考试科目选择*/
.kemu-box{ width:970px; padding:14px 6px 10px 13px;_padding:14px 6px 10px 10px;}
.kemu-box .kemu li{ width:114px; height:138px; float:left; font-size:14px; cursor:pointer;position:relative;}
.kemu-box .kemu li span{ width:30px; height:30px; float:right; position:absolute; z-index:99999; right:5px; bottom:69px; background-position:-320px 0}
.kemu-box .kemu li em{ line-height:40px; color:#999}
.kemu-box .out{ width:112px; height:136px; float:left; margin-left:5px; margin-bottom:5px; background-color:#fff; border:#fff solid 1px}
.kemu-box .over{ width:112px; height:136px; float:left; margin-left:5px; margin-bottom:5px; background-color:#fafafa; border:#e8e8e8 solid 1px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;-moz-box-shadow:-1px 0px 3px #eee, 1px 0px 3px #E8E8E8;-webkit-box-shadow:-1px 0px 3px #eee, 1px 0px 3px #E8E8E8;box-shadow:-1px 0px 3px #eee, 1px 0px 3px #E8E8E8;}
.kemu-box .kemu li .pic img{ padding-top:24px}

/*全部产品列表页*/
.porduct-list li{ width:100%; height:50px; float:left; line-height:50px;border-right:#e8e8e8 solid 1px;border-left:#e8e8e8 solid 1px; font-size:16px; border-top:#fff solid 1px; border-bottom:#e8e8e8 solid 1px; color:#777}
.porduct-top{background:#f9f9f9; font-weight:bold; overflow:hidden; color:#333 !important}
.porduct-out{background:#fff}
.porduct-over{background:#f9f9f9}
.porduct-list li a:link,.porduct-list li a:visited,.porduct-list li a:active{ color:#333}
.porduct-list li a:hover{ color:#f00}
.porduct-list .title{width:100%; float:left; display:block; overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.porduct-list .title em{ width:590px;padding-left:10px; float:left; text-align:left; font-family:"宋体"}
.porduct-list .title span{ width:131px; float:left; font-weight:300; font-size:14px; border-left:#e8e8e8 solid 1px}
.porduct-list .title span .buy-botton{ width:110px; height:30px; padding-top:10px; padding-bottom:10px; padding-left:11px; float:left; line-height:30px}
.porduct-list .title span .shiyong-botton{ width:50px; height:28px; font-size:12px !important; padding-top:11px; padding-bottom:11px; padding-left:11px; float:left; line-height:28px}
/*套餐*/
.product{ width:100%; height:110px}
.product .f-l{ width:168px; height:89px; margin-top:1px; margin-left:1px; border-right:#e8e8e8 solid 1px; background:#f6f6f6;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:0px;-moz-border-radius-bottomright:0px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:3px; padding:10px 0px; font:16px/89px "微软雅黑"; color:#999}
.product .f-l span{ width:9px; height:17px; float:right; background-position:0px 0px; position:relative; right:-9px;top:41px;}
.product .zhj{ width:643px;margin-left:15px; height:110px;}
.product .name{ width:100%; height:60px; border-bottom:#eee solid 1px; font:24px/60px "微软雅黑"; color:#F30F4A}
.product .ti li{width:300px; height:50px; float:left; font:16px/50px "宋体"; color:#444}
.product .ti li span{ color:#f50; font-size:20px; font-weight:bold}
.product .jianjie li{width:213px; height:45px; text-align:left; float:left; font:12px/45px "宋体"; color:#999}
.product .jianjie li span{ color:#f00; font-size:16px}
.product .f-r{ width:165px; height:110px; border-left:#f2f2f2 solid 1px}
.product .f-r .botton{ font:16px/40px "宋体";width:135px; height:40px;margin:35px auto}

/*统计*/
.tongji-out{ width:298px; height:388px; float:left; background-position:65px -463px; border:#e4e4e4 solid 1px; background-color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-right:50px;}
.tongji-over{ width:298px; height:388px; float:left; background-position:-164px -463px; border:#ff9f9f solid 1px; background-color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-right:50px;}
.tongji-content{ width:268px; height:388px; padding-left:15px;}
.tongji-content .tj-top{ width:100%; height:210px; font:34px/210px "微软雅黑"; color:#f30f4a}
.tongji-content .tj-top em{ width:50px; height:50px; float:left; margin:70px 0px 0px 110px}
.tongji-content .tj-top em.jixu{ background-position:-80px 0}
.tongji-content .tj-top em.jikao{ background-position:-140px 0}
.tongji-content .tj-top em.lianxi{ background-position:-195px 0}
.tongji-content .tj-top em.meiri{ background-position:-20px 0}
.tongji-content .tj-name{ width:100%; height:30px; font:bold 22px/30px "宋体"; color:#252525}
.tongji-content .tj-info{ width:100%; height:50px; font:14px/24px "宋体"; overflow:hidden; padding:10px 0px; color:#555}
.tongji-content .tj-botton{ padding:0px 50px; font:16px/40px "宋体";}