<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 分类 -->
	<bean id="categoryService" class="com.examw.test.front.service.impl.CategoryServiceImpl">
	    <property name="api_url" value="${api_category_url}" />
	</bean>
	<!-- 产品 -->
	<bean id="productService" class="com.examw.test.front.service.impl.ProductServiceImpl">
	    <property name="api_product_list_url" value="${api_products_url}" />
	    <property name="api_product_detail_url" value="${api_product_url}" />
	</bean>
	<!-- 章节 -->
	<bean id="chapterService" class="com.examw.test.front.service.impl.ChapterServiceImpl">
	    <property name="api_list_url" value="${api_chapters_url}" />
	    <property name="api_detail_url" value="${api_chapter_url}" />
	</bean>
	<!-- 试卷 -->
	<bean id="paperService" class="com.examw.test.front.service.impl.PaperServiceImpl">
	    <property name="api_paperlist_url" value="${api_papers_url}" />
	    <property name="api_paperinfo_url" value="${api_paper_url}" />
	    <property name="api_paperitem_url" value="${api_paperitem_url}" />
	    <property name="api_papersubmit_url" value="${api_papersubmit_url}" />
	</bean>
</beans>
