<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<bean id="categoryService" class="com.examw.test.front.service.impl.CategoryServiceImpl">
	    <property name="api_url" value="${api_category_url}" />
	</bean>
</beans>
